<!-- <h1>Listings#index</h1> -->
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
  <center>
  	<%= form_tag listings_path, :method => 'get' do %>
 <%= text_field_tag :search, params[:search] %>
 <%= submit_tag "Search" %>
 <% end %>
 
 <br>
  
 <ul>
	<% @listings.each do |listing| %>
	<li> <%= listing.name  %>  <%=link_to 'Book' , signup_path %> </li>

	<% end %>
</ul>

 </center>