<br>
<br>
<br>
 


<%= link_to singlelist_path do %>
<% @listings.each do |listing| %>

<div class="container" >
   
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="panel-info">
                  <%= image_tag "meeting-modern-room-conference-159805.jpg"  , class: "img-responsive" , size: 300 %>   
                </div>
                                <div class="panel-more1">
                   
                  <p><%= listing.name  %> </p> 
                  <p><%= listing.city %></p>
                  
                  <p> $<%= listing.price %> </p>
                  </div>
                  
            </div>
            </div>
            </div>

            <% end %>
            <% end %>

  